<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'Images/django logo.png' %}" alt="">
        </div>
        <div class="text-center mt-4 name">
            <center> Django </center>
        </div>
        <form class="p-3 mt-3" method='post'>
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="pass" id="pwd" placeholder="Password">
            </div>
            <button class="btn-grad mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <center><a href="{% url "signup" %}">Sign up</a></center>
        </div>
    </div>
</body>

</html>